* {
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom, #f5d4e8, #e61c97);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #d3f8f8;
  min-width: 350px;
  min-height: 350px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 30px black;
  margin-bottom: 10px;
}

.task-input {
  outline: bisque;
  width: 290px;
  padding: 10px 10px;
  margin-right: 15px;
  font-size: 15px;
  font-family: cursive;
  color: black;
  background-color: #f2ecf0;
  border: 2px solid #191515;
  border-radius: 8px;
}

.button-add {
  width: 120px;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 2px solid #191515;
  background-color: rgba(254, 138, 211, 0.93);
  cursor: pointer;
  font-family: cursive;
  font-weight: bold;
  transition: all 1s;
}

.button-add:hover {
  transform: scale(1.1);
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 2px solid #393636;
  border-radius: 8px;
  padding: 10px;
  max-height: 30px;
  font-family: cursive;

}

.button-complete,
.button-edit,
.button-delete {
  border: 2px solid blueviolet;
  outline: none;
  background-color: #e9dbf4;
  font-size: 15px;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  font-family: cursive;
  float: none;
  transition: all 1s;
}

.button-complete:hover {
  transform: scale(1.1);
}

.button-edit:hover {
  transform: scale(1.1);
}

.button-delete:hover {
  transform: scale(1.1);
}

.button-complete {
  color: #7d042c;
  margin-right: 10px;
}

.button-edit {
  color: #207e12;
  margin-right: 10px;
  margin-left: 5px;
}

.button-delete {
  color: #ce2929;
  margin-left: 5px;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #d5073e;
}

.list {
  width: 200px;
  background-color: #f2ecf0;
  border: 2px solid blueviolet;
  border-radius: 5px;
  color: #080808;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}

.h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: cursive;
  font-weight: bold;
}
